# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/
tasks.csv

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Temporary
out.txt
out2.txt
